.home{
    padding: 0;
    font-family: 'Sora', sans-serif;
}

.nav{
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav-left {
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav>img{
    width: 50px;
    height: 50px;
    margin-top: 20%;
}

.h1{
    font-size: 2.3em;
}

.h1>span{
    font-weight: bolder;
    font-size: 200%;
}

.grad {
    background: #121FCF;
    background: -webkit-linear-gradient(right, #121FCF 0%, #CF1512 100%);
    background: -moz-linear-gradient(right, #121FCF 0%, #CF1512 100%);
    background: linear-gradient(to right, #7e86f1 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 56px;
}

.nav>span{
    max-width: 200px;
}

.img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.header{
    /* background-image: url("../public/images/front1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 99.2vw;
    height: 80vh; */
    color: white;
}

.text{
    position: absolute;
    width: 30vw;
    z-index: 0;
    margin-top: -200px;
    margin-left: 10vw;
}

.total{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
}

.each{
    border: 2px solid black;
    border-radius: 1em;
    cursor: pointer;
    color: black;
    font-size: 2em;
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 400px;
}

.each>img{
    width: 100%;
    object-fit: contain;
    height: 300px;
    aspect-ratio: 3/2;
}

.each:hover{
    background-color: rgb(243, 173, 42);
}

.seconds{
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(165, 159, 159);
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.left{
    padding: 15% 5% 15% 5% ;
}

.right>img{
    width: 500px;
    height: 500px;
}

.work{
    margin: 2% 5% 2% 5%;
    font-size: 4em;
}

.each-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
}

.each-header-btn{
    margin-top: 5%;
    margin-left: 80%;
    color: white;
    background-color: black;
    padding: 1%;
    font-size: 1em;
    font-family: 'Sora', sans-serif;
    border: transparent;
    cursor: pointer;
}

.each-header-btn:hover{
    background-color: rgb(255, 157, 0);
}

.each-h1{
    font-size: 4em;
}

.each-h2{
    font-size: 3em;
    margin-left: 5%;
}

.exercise{
    margin: 5% 10% 5% 10%;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    border-radius: 1em;
    background-color: rgb(255, 187, 0);
}

.exercise-name{
    font-size: 3em;
}

.exercise>img{
   margin-left: 30%;
}

hr{
    border-top: 3px solid black;
}

.exercise-eq{
    font-size: 1.5em;
}

.space{
    height: 105px;
}

.m-auto {
    margin: auto;
}